menu.dtd

<!ELEMENT menu (meals, beverages, otherBeverages)>
<!ELEMENT meals (item+)>
<!ELEMENT beverages (item+)>
<!ELEMENT otherBeverages (item+)>

<!ELEMENT item (name, price, description?, image?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT size (#PCDATA)>
